# IMPORTING LIBERIES

In [38]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

## READING DATA

In [39]:
data=pd.read_csv('training.1600000.processed.noemoticon.csv')
data.head()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

## DATA COLUMNS

In [40]:
data.columns

Index(['0', '1467810369', 'Mon Apr 06 22:19:45 PDT 2009', 'NO_QUERY',
       '_TheSpecialOne_',
       '@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D'],
      dtype='object')

# DATA INSIGHT

## SHAPE

In [41]:
data.shape

(1599999, 6)

## INFORMATION INSIGHTS

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599999 entries, 0 to 1599998
Data columns (total 6 columns):
 #   Column                                                                                                               Non-Null Count    Dtype
---  ------                                                                                                               --------------    -----
 0   0                                                                                                                    1599999 non-null  int64
 1   1467810369                                                                                                           1599999 non-null  int64
 2   Mon Apr 06 22:19:45 PDT 2009                                                                                         1599999 non-null  object
 3   NO_QUERY                                                                                                             1599999 non-null  object
 4   _TheSpecialOne_                                                                                                      1599999 non-null  object
 5   @switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D  1599999 non-null  object
dtypes: int64(2), object(4)
memory usage: 73.2+ MB

In [43]:
data.describe()

                  0    1467810369
count  1.599999e+06  1.599999e+06
mean   2.000001e+00  1.998818e+09
std    2.000001e+00  1.935757e+08
min    0.000000e+00  1.467811e+09
25%    0.000000e+00  1.956916e+09
50%    4.000000e+00  2.002102e+09
75%    4.000000e+00  2.177059e+09
max    4.000000e+00  2.329206e+09

# EXPLORATARY DATA ANALYSIS

In [44]:
data.NO_QUERY.value_counts()

NO_QUERY    1599999
Name: NO_QUERY, dtype: int64

In [45]:
data['0'].value_counts()

4    800000
0    799999
Name: 0, dtype: int64

In [46]:
data[data.columns[-1]]

0          is upset that he can't update his Facebook by ...
1          @Kenichan I dived many times for the ball. Man...
2            my whole body feels itchy and like its on fire
3          @nationwideclass no, it's not behaving at all....
4                              @Kwesidei not the whole crew
                                 ...
1599994    Just woke up. Having no school is the best fee...
1599995    TheWDB.com - Very cool to hear old Walt interv...
1599996    Are you ready for your MoJo Makeover? Ask me f...
1599997    Happy 38th Birthday to my boo of alll time!!! ...
1599998    happy #charitytuesday @theNSPCC @SparksCharity...
Name: @switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D, Length: 1599999, dtype: object

In [47]:
data.columns

Index(['0', '1467810369', 'Mon Apr 06 22:19:45 PDT 2009', 'NO_QUERY',
       '_TheSpecialOne_',
       '@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D'],
      dtype='object')

## RENAMING

In [48]:
data.rename(columns = {'0': 'Traget', '1467810369': 'Number','Mon Apr 06 22:19:45 PDT 2009':'Timing',"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D":"Description"},inplace = True)
data.head()

,Traget,Number,Timing,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

## SEPERATE TIME, DATE AND YEAR

In [49]:
data.Timing

0          Mon Apr 06 22:19:49 PDT 2009
1          Mon Apr 06 22:19:53 PDT 2009
2          Mon Apr 06 22:19:57 PDT 2009
3          Mon Apr 06 22:19:57 PDT 2009
4          Mon Apr 06 22:20:00 PDT 2009
                       ...
1599994    Tue Jun 16 08:40:49 PDT 2009
1599995    Tue Jun 16 08:40:49 PDT 2009
1599996    Tue Jun 16 08:40:49 PDT 2009
1599997    Tue Jun 16 08:40:49 PDT 2009
1599998    Tue Jun 16 08:40:50 PDT 2009
Name: Timing, Length: 1599999, dtype: object

In [50]:
data[['From','to','date','Time','Formate','Year']]=data.Timing.str.split(expand=True)
data.head()

,Traget,Number,Timing,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D",From,to,date,Time,Formate,Year
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...,Mon,Apr,06,22:19:49,PDT,2009
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...,Mon,Apr,06,22:19:53,PDT,2009
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,Mon,Apr,06,22:19:57,PDT,2009
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all....",Mon,Apr,06,22:19:57,PDT,2009
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew,Mon,Apr,06,22:20:00,PDT,2009

In [51]:
data.head()

,Traget,Number,Timing,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D",From,to,date,Time,Formate,Year
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...,Mon,Apr,06,22:19:49,PDT,2009
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...,Mon,Apr,06,22:19:53,PDT,2009
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,Mon,Apr,06,22:19:57,PDT,2009
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all....",Mon,Apr,06,22:19:57,PDT,2009
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew,Mon,Apr,06,22:20:00,PDT,2009

## DROPING COLUMNS

In [52]:
data.drop(['Formate'],axis=1,inplace=True)

In [53]:
data.head()

,Traget,Number,Timing,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D",From,to,date,Time,Year
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...,Mon,Apr,06,22:19:49,2009
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...,Mon,Apr,06,22:19:53,2009
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,Mon,Apr,06,22:19:57,2009
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all....",Mon,Apr,06,22:19:57,2009
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew,Mon,Apr,06,22:20:00,2009

In [55]:
data.columns

Index(['Traget', 'Number', 'Timing', 'NO_QUERY', '_TheSpecialOne_',
       '@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D',
       'From', 'to', 'date', 'Time', 'Year'],
      dtype='object')

In [60]:
data.columns[-6]

"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D"

In [61]:
data.set_axis(['Target', 'Number','Timing','NO_QUERY','_TheSpecialOne_','Description','From','to','date','Time','Year'], axis='columns', inplace=True)
data.head()

,Target,Number,Timing,NO_QUERY,_TheSpecialOne_,Description,From,to,date,Time,Year
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...,Mon,Apr,06,22:19:49,2009
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...,Mon,Apr,06,22:19:53,2009
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,Mon,Apr,06,22:19:57,2009
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all....",Mon,Apr,06,22:19:57,2009
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew,Mon,Apr,06,22:20:00,2009

## OUR NEW DATA WITH FRESH COLUMNS AND ROW

## EXTRACTION OF UN NECESSARY DATA

In [68]:
data['Description']=data['Description'].str.extract('([a-zA-Z\s]+)',expand=False)
data.head()

,Target,Number,NO_QUERY,_TheSpecialOne_,Description,From,to,date,Time,Year
0,0,1467810672,NO_QUERY,scotthamilton,is upset that he can,Mon,Apr,06,22:19:49,2009
1,0,1467810917,NO_QUERY,mattycus,Kenichan I dived many times for the ball,Mon,Apr,06,22:19:53,2009
2,0,1467811184,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,Mon,Apr,06,22:19:57,2009
3,0,1467811193,NO_QUERY,Karoli,nationwideclass no,Mon,Apr,06,22:19:57,2009
4,0,1467811372,NO_QUERY,joy_wolf,Kwesidei not the whole crew,Mon,Apr,06,22:20:00,2009

In [64]:
data.Description

0                                     is upset that he can
1                 Kenichan I dived many times for the ball
2          my whole body feels itchy and like its on fire
3                                       nationwideclass no
4                             Kwesidei not the whole crew
                                ...
1599994                                       Just woke up
1599995                                             TheWDB
1599996               Are you ready for your MoJo Makeover
1599997                                             Happy
1599998                                             happy
Name: Description, Length: 1599999, dtype: object

##  WE HAVE TIMING COLUMN WHICH HAVE NO USE SO LET'S DROP IT

In [66]:
data.drop(['Timing'],axis=1,inplace=True)

In [67]:
data.head()

,Target,Number,NO_QUERY,_TheSpecialOne_,Description,From,to,date,Time,Year
0,0,1467810672,NO_QUERY,scotthamilton,is upset that he can,Mon,Apr,06,22:19:49,2009
1,0,1467810917,NO_QUERY,mattycus,Kenichan I dived many times for the ball,Mon,Apr,06,22:19:53,2009
2,0,1467811184,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire,Mon,Apr,06,22:19:57,2009
3,0,1467811193,NO_QUERY,Karoli,nationwideclass no,Mon,Apr,06,22:19:57,2009
4,0,1467811372,NO_QUERY,joy_wolf,Kwesidei not the whole crew,Mon,Apr,06,22:20:00,2009

## THE END !